<form method="post" action="/students">
  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name="first_name" />
  <br/>
  <br/>
  <label for="last-name">Last Name:</label>
  <input id="last-name" type="text" name="last_name" />
  <br/>
  <br/>
  <label for="house">Select a house:</label>
  <select id="house" name="house_id">
    <% @houses.each do |house| %>
    <option value= <%=house.id%>>
    <%=house.name%>
    </option>
    <% end %>
    
  </select>
  <br/>
  <br/>
  <label for="age">Age:</label>
  <input id="age" type="number" name="age" />
  <br/>
  <br/>
  <input type="submit" value="New Student" />
</form>